<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="MtBatisSQL" connectionString="Data Source=.\SQLSERVER;Initial Catalog=ShopMaster;Integrated Security=True"/>
  </database>

  <sqlMaps>
    <sqlMap resource="SqlFileMapper/sqlFile.xml" />
  </sqlMaps>
</sqlMapConfig>